
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photo.png" class="img-fluid" id="foto">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Leonel Acosta</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="about">Acerca de mí</h1>
            <p id="desc">Estoy finalizando la carrera de Desarrollador de Software y ando buscando experiencia
                laboral en el ámbito de IT, para
                tener un mejor entendimiento de
                como funciona y poder aplicar los
                conocimientos que he aprendido
                y además de adquirir nuevos
                conocimientos.</p>
        </span>
    </div>
</div>