<div class="row">
    <h1>Hard & Soft skills</h1>

    <div class="col-sm-2 col-md-2 col-lg-2" id="html">
        <circle-progress
            [percent]="65"
            [radius]="90"
            [title]="'HTML'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#575151'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="90"
            [title]="'CSS'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#575151'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="35"
            [radius]="90"
            [title]="'JS'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#575151'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="75"
            [radius]="90"
            [title]="'GitHub'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#575151'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="90"
            [title]="'Ingles'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#575151'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

</div>  