<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" id="items">
        <ul>
            <li>
                <h1>Titulo Secundario obtenido</h1> - <h3>5 Años</h3>
                <p id="ed1">Bachiller en Economía y
                    Administración.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Título Terciario en curso</h1> - <h3>En Curso: 3º Año</h3>
                <p id="ed2">Técnico Superior en
                    desarrollo de Software.</p>
            </li>
        </ul>
    </div>
</div>